<h1 class="main-caption heading1">Reports</h1>
<nav class="time-amount-nav">
  <ul>
    <li><a class="caption selected" href="">Day</a></li>
    <li><a class="caption" href=" ">Week</a></li>
    <li><a class="caption" href=" ">Month</a></li>
  </ul>
</nav>
<div class="report-graph" id="Highchart">
</div>
<div class="graph-description">
  <span class="urgent-desc">Urgent</span>
  <span class="hight-desc">High</span>
  <span class="middle-desc">Middle</span>
  <span class="low-desc">Low</span>
  <span class="failed-desc">Failed</span>
</div>
<nav class="type-graph-nav">
  <ul>
    <li><a class="caption selected" href="#">Pomodoros</a></li>
    <li><a class="caption" href="#">Tasks</a></li>
  </ul>
</nav>
<div class="reports-nav-btns">
  <a class="global-list-left-btn" href="#">
    <span class="icon--arrow-left"></span>
  </a>
</div>
