<div id="categories-section">
<h2 class="sub-caption">Categories list overview</h2>
<div class="categories-list">
    <ul>
        <li class="work-item">Work</li>
        <li class="education-item">Education</li>
        <li class="hobby-item">Hobby</li>
        <li class="sport-item">Sport</li>
        <li class="other-item">Other</li>
    </ul>
</div>
<div class="settings-nav-buttons">
    <a class="to-tasks" href="#task-list">Go To Tasks</a>
</div>
</div>
