    <h1 class="main-caption heading1">Settings</h1>
    <nav class="pages-nav">
        <ul>
            <li><a class="caption selected" id="pomodoros" href="">Pomodoros</a></li>
            <li><a class="caption"  id="categories" href=" ">Categories</a></li>
        </ul>
    </nav>
  <div class="page-content">
    <div id="pomodoros-section">
    <h2 class="sub-caption subtitle">Pomodoros settings</h2>
    <div class="settings-content">
        <div class="work-time">
            <h3 class="settings-caption">WORK TIME</h3>
            <div class="settings-input">
                <span class="settings-input-minus"></span>
                <span class="settings-input-field">15</span>
                <span class="settings-input-plus"></span>
            </div>
            <h6 class="settings-note">
                Please select a value between 15 and 25 <span class="time">minutes</span>
            </h6>
        </div>
        <div class="work-iteration">
            <h3 class="settings-caption ">WORK ITERATION</h3>
            <div class="settings-input">
                <span class="settings-input-minus"></span>
                <span class="settings-input-field">4</span>
                <span class="settings-input-plus"></span>
            </div>
            <h6 class="settings-note">
                Please select a value between 2 and 5 <span class="time">iterations</span>
            </h6>
        </div>
        <div class="short-break">
            <h3 class="settings-caption">SHORT BREAK</h3>
            <div class="settings-input">
                <span class="settings-input-minus"></span>
                <span class="settings-input-field">4</span>
                <span class="settings-input-plus"></span>
            </div>
            <h6 class="settings-note">
                Please select a value between 3 and 5 <span class="time">minutes</span>
            </h6>
        </div>
        <div class="long-break">
            <h3 class="settings-caption">LONG BREAK</h3>
            <div class="settings-input">
                <span class="settings-input-minus"></span>
                <span class="settings-input-field">25</span>
                <span class="settings-input-plus"></span>
            </div>
            <h6 class="settings-note">
                Please select a value between 15 and 30 <span class="time">minutes</span>
            </h6>
        </div>
    </div>
    <div class="graph">
        <h3 class="graph-caption heading3">Your cycle</h3>
        <div class="graph-bar">
            <div class="upper-scale">
                <div class="start">0</div>
                <div class="one-iteration-time"></div>
                <div class="end"></div>
            </div>
            <div class="timeline">
                <div class="work-bar"></div>
                <div class="short-break-bar"></div>
                <div class="work-bar"></div>
                <div class="short-break-bar"></div>
                <div class="work-bar"></div>
                <div class="short-break-bar"></div>
                <div class="work-bar"></div>
                <div class="short-break-bar"></div>
                <div class="work-bar"></div>

                <div class="long-break-bar"></div>

                <div class="work-bar"></div>
                <div class="short-break-bar"></div>
                <div class="work-bar"></div>
                <div class="short-break-bar"></div>
                <div class="work-bar"></div>
                <div class="short-break-bar"></div>
                <div class="work-bar"></div>
                <div class="short-break-bar"></div>
                <div class="work-bar"></div>
            </div>
            <div class="lower-scale"></div>
        </div>
    </div>
    <div class="settings-nav-buttons">
        <a class="to-tasks" href="#task-list">Go To Tasks</a>
        <button class="save">Save</button>
    </div>
    </div>
  </div>
