<div class="notify notify-{{type}}">
  <div class="emoji-notify"></div>
  <div class="notify-msg">
    {{message}}
  </div>
  <div class="hide-btn">
    <span class="icon--close"></span>
  </div>
</div>
