
<div class="remove-task-form">
  <div class="actions">
    <button class="text-btn cansel">
      <span class="icon--close"></span>
    </button>

  </div>
  <h3 class="form-caption">Remove Task</h3>
  <div class="last-warning">
    Are you sure you want to remove selected task(s)?
  </div>

  <div class="form-btns-container">
    <button class="form-cansel">Cansel</button>
    <button class="form-remove">Remove</button>
  </div>
</div>
