<h1 class="main-caption">Daily Task List
  <a class="add-items" id="add-items" href="#" title="Add items">
    <span class="icon--add"></span>
  </a>
</h1>
<div class="main-content add-first-task">
  <div class="pomadoro-img"></div>
  <div class="message">Add your first task</div>
</div>
