<h1 class="main-caption">
    Daily Task List
    <a class="add-items" id="add-items" href="#" title="Add items">
        <span class="icon--add"></span>
    </a>
</h1>
<nav class="pages-nav">
  <ul>
    <li><a href="#" title="Tasks to do">To Do</a></li>
    <li><a href="#" title="Done tasks">Done</a></li>
  </ul>
</nav>
<div class="main-content daily-task-list">
  <ul class="tasks">
    <li class="hobby-task priority-urgent">
      <div class="category-strip"></div>
      <div class="date">TODAY</div>
      <div class="text">
        <h3 class="caption">Lorem ipsum dolor sit.</h3>
        <h6 class="note">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, incidunt.
        </h6>
      </div>
      <div class="actions">
        <div class="edit">
          <a href="#" title="Edit item"><span class="icon--edit"></span></a>
        </div>
        <div class="timer">
          <span class="icon--tomato"></span>
          <span class="count">3</span>
        </div>
      </div>

    </li>
    <li class="sport-task priority-hight">
      <div class="category-strip"></div>
      <div class="date">TODAY</div>
      <div class="text">
        <h3 class="caption">Lorem ipsum dolor sit.</h3>
        <h6 class="note">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, incidunt.
        </h6>
      </div>

      <div class="actions">
        <div class="edit">
          <a href="#" title="Edit item"><span class="icon--edit"></span></a>
        </div>
        <div class="timer">
          <span class="icon--tomato"></span>
          <span class="count">3</span></div>
      </div>
    </li>
    <li class="work-task priority-hight">
      <div class="category-strip"></div>
      <div class="date">TODAY</div>
      <div class="text">
        <h3 class="caption">Lorem ipsum dolor sit.</h3>
        <h6 class="note">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, incidunt.
        </h6>
      </div>
      <div class="actions">
        <div class="edit">
          <a href="#" title="Edit item"><span class="icon--edit"></span></a>
        </div>
        <div class="timer">
          <span class="icon--tomato"></span>
          <span class="count">3</span>
        </div>
      </div>
    </li>
    <li class="education-task priority-middle">
      <div class="category-strip"></div>
      <div class="date">TODAY</div>
      <div class="text">
        <h3 class="caption">Lorem ipsum dolor sit.</h3>
        <h6 class="note">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, incidunt.
        </h6>
      </div>
      <div class="actions">
        <div class="edit">
          <a href="#" title="Edit item"><span class="icon--edit"></span></a>
        </div>
        <div class="timer">
          <span class="icon--tomato"></span>
          <span class="count">3</span>
        </div>
      </div>
    </li>
    <li class="other-task priority-low">
      <div class="category-strip"></div>
      <div class="date">TODAY</div>
      <div class="text">
        <h3 class="caption">Lorem ipsum dolor sit.</h3>
        <h6 class="note">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, incidunt.
        </h6>
      </div>

      <div class="actions">
        <div class="edit">
          <a href="#" title="Edit item">
            <span class="icon--edit"></span>
          </a>
        </div>
        <div class="timer">
          <span class="icon--tomato"></span>
          <span class="count">3</span>
        </div>
      </div>
    </li>
  </ul>

  <a class="to-global-list" href="#" title="To global list">Global list ></a>
</div>
