<h1 class="main-caption">Daily Task List +</h1>
<nav class="pages-nav">
  <ul>
    <li><a href="#" title="Tasks to do">To Do</a></li>
    <li><a href="#" title="Done tasks">Done</a></li>
  </ul>
</nav>
<div class="main-content first-enterance">
  <div class="pomadoro-img">
    <img src="/tomato_settings.svg" alt="" width="100%" height="100%">
  </div>
  <div class="message">
    As you visited our site for a first time you can check
    and customize your default application settings
  </div>
  <div class="task-nav-buttons">
    <a class="skip" href="#" title="to global list">Skip</a>
    <a class="to-settings" href="#settings" title="to settings">Go to Settings</a>
  </div>
</div>
