<h1 class="main-caption">Daily Task List
    <a class="add-items-caption" id="add-items-caption" href="#" title="Add items">
        <span class="icon--add"></span>
    </a>
</h1>
<nav class="pages-nav">
  <ul>
    <li><a class="selected" href="#" title="Tasks to do">To Do</a></li>
    <li><a href="#" title="Done tasks">Done</a></li>
  </ul>
</nav>
<div class="main-content global-list">
  <div class="daily-tasks">

  </div>
  <div class="categories-tasks">
    <nav class="categories-nav">
      <ul>
        <li><a class="selected" href="#" title="all priorities">all</a></li>
        <li><a href="#" title="urgent priority">Urgent</a></li>
        <li><a href="#" title="hight priority">Hight</a></li>
        <li><a href="#" title="middle priority">Middle</a></li>
        <li><a href="#" title="low priority">Low</a></li>
      </ul>
    </nav>
    <div id="global-lists">

    </div>
  </div>
</div>
<div class="notifications">

</div>
<div class="modals">

</div>
