
<div class="radial-timer s-animate">
  <div class="radial-timer-half">
      <div class="after"></div>
  </div>
  <div class="radial-timer-half">
      <div class="after"></div>
  </div>
  <div class="radial-timer-face">
    <div class="message">

    </div>

  </div>
</div>
